.inp {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 63px;
  padding-right: 63px;
  height: 120px;
  line-height: 120px;
  box-shadow: 0px 10px 20px 0px rgba(219, 222, 227, 0.8) inset, 0px -10px 20px 0px #FFFFFF inset;
  border-radius: 60px;
  background: #f1f1f2;
  color: #0D0D0D;
  font-size: 40px;
}
.inp-placeholder{
  color: #C4C4C4;
}
