@font-face {
  font-family: 'iconfont'; /* Project id 2446211 */
  src: url('//at.alicdn.com/t/font_2446211_lpmc2cif7kq.woff2?t=1652693895336') format('woff2'),
    url('//at.alicdn.com/t/font_2446211_lpmc2cif7kq.woff?t=1652693895336') format('woff'),
    url('//at.alicdn.com/t/font_2446211_lpmc2cif7kq.ttf?t=1652693895336') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbianjishuru:before {
  content: '\e8cc';
}

.iconqiehuan1:before {
  content: '\e647';
}

.iconlishishuju:before {
  content: '\e624';
}

.iconfenxiang1:before {
  content: '\e626';
}

.iconweixin:before {
  content: '\e62c';
}

.iconpaixu:before {
  content: '\e65c';
}

.iconhuaban:before {
  content: '\e609';
}

.icondianliang1ge:before {
  content: '\e63b';
}

.icondianliang2ge:before {
  content: '\e63c';
}

.icondianliang3ge:before {
  content: '\e63d';
}

.icondianliang5ge:before {
  content: '\e63e';
}

.icondianliang4ge:before {
  content: '\e63f';
}

.iconcheck-circle-fill:before {
  content: '\eb33';
}

.iconcuowu-mian:before {
  content: '\e632';
}

.iconcuo:before {
  content: '\e715';
}

.iconvip:before {
  content: '\e610';
}

.iconshipin2x:before {
  content: '\e600';
}

.iconbofang:before {
  content: '\e66e';
}

.iconyouyong:before {
  content: '\e7b3';
}

.iconchakan:before {
  content: '\e60a';
}

.iconchakan-copy:before {
  content: '\e8ae';
}

.iconwancheng1:before {
  content: '\e8ad';
}

.iconpoint:before {
  content: '\e60f';
}

.iconxingxingmianxing:before {
  content: '\e665';
}

.iconbattery:before {
  content: '\e612';
}

.iconxiala:before {
  content: '\e682';
}

.icondui:before {
  content: '\e605';
}

.iconxia:before {
  content: '\e613';
}

.iconyoujiantou:before {
  content: '\e642';
}

.iconfenxiang:before {
  content: '\e6d1';
}

.iconwancheng:before {
  content: '\e62a';
}

.iconshibai:before {
  content: '\e645';
}
