@use '../styles/theme.module.scss' as theme;

$prefix-class: 'overlay';

.#{$prefix-class} {
  --background-color: #{theme.$overlay-background-color};
  --visible-display: flex;
  --display: none;
  --z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: max(100vw, 100%);
  height: max(100vh, 100%);

  display: var(--display);
  align-items: center;
  justify-content: center;
  z-index: var(--z-index);

  background-color: var(--background-color);

  &-click {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &-content {
    position: relative;
    z-index: 1;
  }

  &.enter {
    --display: var(--visible-display);
    opacity: 0;
  }
  &.enterDone {
    --display: var(--visible-display);
  }
  &.enterActive {
    opacity: 1;
    transition: opacity 300ms;
  }
  &.exit {
    --display: var(--visible-display);
    opacity: 1;
  }
  &.exitActive {
    --display: var(--visible-display);
    opacity: 0;
    transition: opacity 300ms;
  }
}
